.elementCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-right: 2em;

    .iCart {
        width: 2.2em;
        height: 2.2em;
        cursor: pointer;
    }

    .cntdadCart {
        font-weight: bold;
        color: red;
        font-size: 0.9em;
        margin-left: -0.35em;
        margin-top: 0.4em;
    }
}



