.elementoCarrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-right: 2em;

    .imagenCarrito {
        width: 2em;
        height: 2em;
    }

    .cantidadCarrito {
        font-weight: bold;
        color: orange;
        font-size: 0.7em;
        margin-left: -0.5em;
        margin-top: 0.4em;
    }
}



