.viewRegister{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: row;
    //background-color: $black;

    .leftImg{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        

        .imgFace{
            width: 100%;
            height: 100%;
            
            .imgSideFaces{
                width: 100%;
                height: 20em;
            }

        }
    }

    .boxRegister{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;

        .boxLogo{
            width: 30%;
            height: 8em;

            .logoRegister{
                width: 100%;
                height: 100%;
            }

        }
        
    }
    .rigthImg{
        display: flex;
        flex-direction: column;
        width:20%;
        height: 100%;
        

        .imgFace{
            width: 100%;
            height: 100%;
            
            .imgSideFaces{
                width: 100%;
                height: 20em;
            }

        }
    }
}