.profileContainer{
    background-color: $black;
    width: 100%;
    height: 100vh;

    .containerPhotoForm{
        display: flex;
        width: 100%;
        height: 18em;

        .photoProfile{
            width: 30%;
            height: 100%;

            .containerImg{
                margin-top: 5em;
                width: 10em;
                height: 12em;
                border-radius: 15%;
            
            }
        }

        .formProfile{
            width: 70%;
            height: 100%;
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 4em;

            .modifyForm{
                align-items: center;
                justify-content: center;

                .form-group{
                    width: 20em;
                    height: 4em;
                }
            }
        }
    }

    .lastPurchases{
        margin-top: 6em;
        width: 100%;
        height: 20em;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .textLastPurchases{
            color: white;
            width: 100%;
            height: 2em;
            position: relative;
            display: inline-block;

            .textBanner{
                margin-top: -3em;
            }

            .imgBanner{
                height: 5em;
                width: 100%;
            }

        }
        .containerComicPurchases{
            display:flex;
            flex-direction: row;
            margin-top: 3em;
            width: 100%;
            height: 20em;

            .imgComicPurchases{
                


                .imgPurchases{
                    justify-content: center;
                    align-items: center;
                    width: 7em;
                    height: 12em;
                    margin: 1em;
                }
            }

        }

    }

    
}