@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.containerForum{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Comic Neue', cursive;

    .textForum{
        color:white;
    }

    .containerBody{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

}