@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

.homeContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: $black;
    font-family: 'Comic Neue', cursive;

    .imageContainer{   
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $black;

        .imagePrincipal{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            margin-bottom: 15%;
            height: 80%;
            width: 80%;

            .imgComics{
                height: 100%;
                width: 100%;
            }
        }
    }

    .textForRegisterContainer{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        .formLogin{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-right: $size-g;
            width: 60%;
            height: 13em;
            background-color: $red;
            -webkit-box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);
            -moz-box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);
            box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);

            .containerLogoHome{
                display: flex;
                justify-content:center;
                align-items: flex-start;
                width: 80%;
                height: 12em;

                .logoHome{
                    width: 10em;
                    height: 7em;
                }
            }
            
            .containerInputHome{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-top: 2em;
                height: 8.5em;

                .form-control{
                    width: 15em;
                }


                .btnHomeNickname{
                    margin-bottom: 0.5em;
                }
                

            }

            .containerBtnHome{
                display: flex;
                justify-content: flex-start;
                height: 3em;
                margin: 2em;

                .btnHomeLogin{
                    margin-right: 0.5em;
                }
                
            }

        }
        
    }
    
   
}
