.homeContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: $black;

    .imageContainer{   
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $black;

        .imagePrincipal{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            margin-bottom: 15%;
            height: 80%;
            width: 80%;

            .imgComics{
                height: 100%;
                width: 100%;
            }
        }
    }

    .textForRegisterContainer{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: yellow;

        

        .formLogin{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: $size-g;
            //margin-top: $size-g;
            border-radius: 5%;
            border-style: inset; 
            width: 90%;
            height: 16em;
            background-color: $red;
            -webkit-box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);
            -moz-box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);
            box-shadow: 25px 18px 13px -4px rgba(199,135,135,1);
            
            .containerInputHome{
                // display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 10em;
                margin-top: -2em;
            }

            .containerBtnHome{
                height: 1em;
            }

        }

        .menssageError{
            height: 3em;
            margin-right: $size-g;
            color: $red;
            margin-top: 1.5em;
            size:$red;

        }

        
    }
    
   
}
.footerHome{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 3em;
    justify-content: flex-end;
    
    .footerLinkedin{
        width: 2em;
        height: 2em;
        margin-right: 1em;
        
    }
    .footerGit{
        width: 2em;
        height: 2em;
        margin-right: 2em;
        
    }
}