.containerTotal{
    display: flex;
    width: 100%;
    height: 250vh;
    background-color: black;
    flex-direction: column;

    .headerTotal{
        width: 100%;
    }

    .bodyTotal{

        margin-top: 4em;
        color:white;
        

        .imagesTotal{
            display:grid;
            grid-template-columns: repeat(5, 1fr);
            height: 45em;
            width: 100%;
            justify-items: center;
            align-items: center;
            background-color: black;
            align-content: flex-start;
            justify-content: flex-start;


            .generalTotal{
                width: 12em;
                height: 18em;


                .imgTotal{
                    display: flex;
                    flex-direction: row;
                    
                    width: 8em;
                    height: 12em;
                    margin: 2em;
                }
                .imgTotal:hover{
                    transform: scale(1.15);
                    cursor: pointer;
                    transition: 250ms all;
                }
                .titleTotal{
                    width: 10em;
                    margin: auto;
                    text-align: center;
                    margin-top: -1.5em;
                
                }
            }


            
        }

        
    }
}