/*Colors*/
/*Sizes*/
.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: black; }
  .homeContainer .imageContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black; }
    .homeContainer .imageContainer .imagePrincipal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 15%;
      height: 80%;
      width: 90%; }
      .homeContainer .imageContainer .imagePrincipal .imgComics {
        height: 100%;
        width: 100%; }
  .homeContainer .textForRegisterContainer {
    width: 40%;
    height: 100%;
    display: flex;
    background-color: yellow; }
