/*Colors*/
/*Sizes*/
.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: black; }
  .homeContainer .imageContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black; }
    .homeContainer .imageContainer .imagePrincipal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 15%;
      height: 80%;
      width: 90%; }
      .homeContainer .imageContainer .imagePrincipal .imgComics {
        height: 100%;
        width: 100%; }
  .homeContainer .textForRegisterContainer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow; }

.viewRegister {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .viewRegister .leftImg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%; }
    .viewRegister .leftImg .imgFace {
      width: 100%;
      height: 100%; }
      .viewRegister .leftImg .imgFace .imgSideFaces {
        width: 100%;
        height: 20em; }
  .viewRegister .boxRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%; }
    .viewRegister .boxRegister .boxLogo {
      width: 30%;
      height: 8em; }
      .viewRegister .boxRegister .boxLogo .logoRegister {
        width: 100%;
        height: 100%; }
  .viewRegister .rigthImg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%; }
    .viewRegister .rigthImg .imgFace {
      width: 100%;
      height: 100%; }
      .viewRegister .rigthImg .imgFace .imgSideFaces {
        width: 100%;
        height: 20em; }

.input {
  border-radius: 0.3em;
  height: 2em;
  width: 17em; }
