/*Colors*/
/*Sizes*/
.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: black; }
  .homeContainer .imageContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black; }
    .homeContainer .imageContainer .imagePrincipal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 15%;
      height: 80%;
      width: 80%; }
      .homeContainer .imageContainer .imagePrincipal .imgComics {
        height: 100%;
        width: 100%; }
  .homeContainer .textForRegisterContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .homeContainer .textForRegisterContainer .formLogin {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-right: 3.5em;
      width: 80%;
      height: 12em;
      background-color: #e60000;
      -webkit-box-shadow: 25px 18px 13px -4px #c78787;
      -moz-box-shadow: 25px 18px 13px -4px #c78787;
      box-shadow: 25px 18px 13px -4px #c78787; }
      .homeContainer .textForRegisterContainer .formLogin .containerLogoHome {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 12em; }
        .homeContainer .textForRegisterContainer .formLogin .containerLogoHome .logoHome {
          width: 10em;
          height: 7em; }
      .homeContainer .textForRegisterContainer .formLogin .containerInputHome {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2em;
        height: 8.5em; }
      .homeContainer .textForRegisterContainer .formLogin .containerBtnHome {
        display: flex;
        justify-content: flex-start;
        height: 3em;
        margin: 2em; }
        .homeContainer .textForRegisterContainer .formLogin .containerBtnHome .btnHomeLogin {
          margin-right: 0.5em; }
    .homeContainer .textForRegisterContainer .menssageError {
      height: 3em;
      margin-right: 3.5em;
      color: #e60000;
      margin-top: 1.5em;
      size: #e60000; }

.viewRegister {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black; }
  .viewRegister .leftImg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%; }
    .viewRegister .leftImg .imgFace {
      width: 100%;
      height: 100%; }
      .viewRegister .leftImg .imgFace .imgSideFaces {
        width: 100%;
        height: 20em; }
  .viewRegister .boxRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%; }
    .viewRegister .boxRegister .boxLogo {
      width: 30%;
      height: 8em; }
      .viewRegister .boxRegister .boxLogo .logoRegister {
        width: 70%;
        height: 70%; }
    .viewRegister .boxRegister .textRegister {
      color: white; }
    .viewRegister .boxRegister .main-container {
      margin-top: 2em; }
      .viewRegister .boxRegister .main-container .invalid-feedback {
        display: inline-flex;
        width: 325px; }
      .viewRegister .boxRegister .main-container .btn-danger {
        margin: 1em; }
  .viewRegister .rigthImg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%; }
    .viewRegister .rigthImg .imgFace {
      width: 100%;
      height: 100%; }
      .viewRegister .rigthImg .imgFace .imgSideFaces {
        width: 100%;
        height: 20em; }

.profileContainer {
  background-color: black;
  width: 100%;
  height: 100vh; }
  .profileContainer .containerPhotoForm {
    display: flex;
    width: 100%;
    height: 18em; }
    .profileContainer .containerPhotoForm .photoProfile {
      width: 30%;
      height: 100%; }
      .profileContainer .containerPhotoForm .photoProfile .textPhoto {
        display: flex;
        height: 2em;
        color: white;
        margin-top: 5em;
        justify-content: center; }
      .profileContainer .containerPhotoForm .photoProfile .containerChangeImage {
        width: 10em;
        height: 12em;
        border-radius: 15%;
        margin-bottom: 0.5em; }
    .profileContainer .containerPhotoForm .formProfile {
      width: 70%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 4em;
      color: white; }
      .profileContainer .containerPhotoForm .formProfile .modifyForm {
        align-items: center;
        justify-content: center; }
        .profileContainer .containerPhotoForm .formProfile .modifyForm .btnProfileUpdate {
          margin-top: 2.5em;
          margin-right: 3.5em; }
        .profileContainer .containerPhotoForm .formProfile .modifyForm .form-group {
          width: 20em;
          height: 4em; }
  .profileContainer .lastPurchases {
    margin-top: 6em;
    width: 100%;
    height: 20em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .profileContainer .lastPurchases .textLastPurchases {
      color: white;
      width: 100%;
      height: 2em;
      position: relative;
      display: inline-block; }
      .profileContainer .lastPurchases .textLastPurchases .textBanner {
        margin-top: -3em; }
      .profileContainer .lastPurchases .textLastPurchases .imgBanner {
        height: 5em;
        width: 100%; }
    .profileContainer .lastPurchases .containerComicPurchases {
      display: flex;
      flex-direction: row;
      margin-top: 3em;
      width: 100%;
      height: 20em; }
      .profileContainer .lastPurchases .containerComicPurchases .imgComicPurchases .imgPurchases {
        justify-content: center;
        align-items: center;
        width: 7em;
        height: 12em;
        margin: 1em; }

.containerPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black; }
  .containerPrincipal .containerCarousel {
    width: 100%;
    height: 22em;
    margin-top: 2em; }
    .containerPrincipal .containerCarousel .titleCarousel .btnDropdown {
      background-color: #e60000 !important;
      border-color: white !important;
      margin-bottom: 2em; }
  .containerPrincipal .textGetCharacter {
    display: flex;
    color: white;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border-top: 0.5em solid rgba(145, 45, 45, 0.849); }
  .containerPrincipal .containerCharacter {
    width: 100%;
    height: 24em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center; }
    .containerPrincipal .containerCharacter .getCharacter {
      display: flex;
      flex-direction: row;
      width: 6.5em;
      height: 6.5em;
      border-radius: 100%; }
    .containerPrincipal .containerCharacter .logoSuper {
      border-radius: 50%;
      transition: 250ms; }
    .containerPrincipal .containerCharacter .logoSuper:hover {
      cursor: pointer;
      transform: scale(1.3);
      transition: 250ms; }

.containerShowComic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white; }
  .containerShowComic .dataShowComic {
    margin-top: 2em; }
    .containerShowComic .dataShowComic .textShowComic {
      display: flex;
      flex-direction: row;
      margin: 2em;
      justify-content: center;
      align-items: center; }
      .containerShowComic .dataShowComic .textShowComic .titleShowComic {
        margin-top: -4em;
        color: black; }
      .containerShowComic .dataShowComic .textShowComic .containerCreator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1em; }
        .containerShowComic .dataShowComic .textShowComic .containerCreator .creatorJob {
          margin-bottom: 2em; }
          .containerShowComic .dataShowComic .textShowComic .containerCreator .creatorJob .job {
            margin: 0.5em;
            text-align: right; }
        .containerShowComic .dataShowComic .textShowComic .containerCreator .creatorEmployee {
          margin-bottom: 2em; }
          .containerShowComic .dataShowComic .textShowComic .containerCreator .creatorEmployee .employee {
            margin: 0.5em;
            text-align: left; }
        .containerShowComic .dataShowComic .textShowComic .containerCreator .btnBuy {
          margin-top: 2em; }
    .containerShowComic .dataShowComic .imgShowComic {
      margin-left: 2em; }
      .containerShowComic .dataShowComic .imgShowComic .thumbnailShowComic {
        width: 17em;
        height: 25em; }

.containerTotal {
  display: flex;
  width: 100%;
  height: 250vh;
  background-color: black;
  flex-direction: column; }
  .containerTotal .headerTotal {
    width: 100%; }
  .containerTotal .bodyTotal {
    margin-top: 4em;
    color: white; }
    .containerTotal .bodyTotal .imagesTotal {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      height: 45em;
      width: 100%;
      justify-items: center;
      align-items: center;
      background-color: black;
      align-content: flex-start;
      justify-content: flex-start; }
      .containerTotal .bodyTotal .imagesTotal .generalTotal {
        width: 12em;
        height: 18em; }
        .containerTotal .bodyTotal .imagesTotal .generalTotal .imgTotal {
          display: flex;
          flex-direction: row;
          width: 8em;
          height: 12em;
          margin: 2em; }
        .containerTotal .bodyTotal .imagesTotal .generalTotal .imgTotal:hover {
          transform: scale(1.15);
          cursor: pointer;
          transition: 250ms all; }
        .containerTotal .bodyTotal .imagesTotal .generalTotal .titleTotal {
          width: 10em;
          margin: auto;
          text-align: center;
          margin-top: -1.5em; }

.containerMarket {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white; }
  .containerMarket .listComicsCart {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%; }
    .containerMarket .listComicsCart .comicsFinalBuy {
      width: 20em;
      height: 20em;
      margin: 1em;
      color: white; }
      .containerMarket .listComicsCart .comicsFinalBuy .textComicBuy {
        width: 15em;
        height: 3em;
        margin: auto;
        text-align: center; }
      .containerMarket .listComicsCart .comicsFinalBuy .contImgComicBuy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .containerMarket .listComicsCart .comicsFinalBuy .contImgComicBuy .imgComicBuy {
          width: 10em;
          height: 16em; }
  .containerMarket .containerPriceBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 3em;
    height: 5em;
    width: 100%; }

.containerHelp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black; }
  .containerHelp .textHelp {
    width: 100%;
    height: 25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    color: white; }
    .containerHelp .textHelp .textTitleHelp {
      height: 3em;
      font-size: 38px; }
    .containerHelp .textHelp .textExplainHelp {
      height: 10.5em;
      padding: 0% 20%;
      font-size: 20px;
      line-height: 200%; }
  .containerHelp .helpPhotoDeveloper .photoDevelopers {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    margin-top: -1em; }

.containerForum {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black; }
  .containerForum .textForum {
    color: white; }
  .containerForum .containerBody {
    display: flex;
    justify-content: center;
    align-items: center; }

.titleInput {
  margin-bottom: 0.5em; }

.input {
  border-radius: 0.3em;
  height: 2em;
  width: 17em; }

.mainCarousel {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }
  .mainCarousel .titleCarousel {
    display: flex;
    height: 2em;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2.5em; }
  .mainCarousel .carouselAdventure {
    height: 18em; }
    .mainCarousel .carouselAdventure .swiper-button-next,
    .mainCarousel .carouselAdventure .swiper-button-prev {
      background-color: white;
      background-color: rgba(255, 255, 255, 0.5);
      right: 10px;
      padding: 20px;
      color: #000 !important;
      fill: black !important;
      stroke: black !important; }
    .mainCarousel .carouselAdventure .swiper-slide img {
      padding: 0.5em 0.5em;
      height: 19em;
      width: 100%; }
      .mainCarousel .carouselAdventure .swiper-slide img:hover {
        transform: scale(1.15);
        cursor: pointer;
        transition: 250ms all;
        filter: saturate(200%); }

.header {
  background-color: black;
  border-bottom: 0.5em solid rgba(145, 45, 45, 0.849); }
  .header .containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    background-color: black; }
    .header .containerHeader .containerSearchHeader {
      width: 25em;
      height: 5em; }
    .header .containerHeader .containerNavbarHeader {
      width: 8em;
      height: 5em; }
    .header .containerHeader .headerContainerLogo {
      margin-left: 16.5em;
      width: 8em;
      height: 5em; }
      .header .containerHeader .headerContainerLogo .logoHeader {
        width: 100%;
        height: 100%; }
  .header .containerWelcomeCart {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .header .containerWelcomeCart .textWelcome {
      display: flex;
      color: white;
      justify-content: flex-start;
      width: 100%;
      margin-left: 6em; }
    .header .containerWelcomeCart .containerForumCart {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 0.5em; }
      .header .containerWelcomeCart .containerForumCart .goViewForum {
        margin-right: 1em;
        margin-top: 0.8em; }
        .header .containerWelcomeCart .containerForumCart .goViewForum a {
          color: white !important; }

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  margin-right: 2em; }
  .searchContainer .searchBox {
    display: flex;
    width: 20em;
    border-radius: 0.5em; }

.elementCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2em; }
  .elementCart .iCart {
    width: 2.2em;
    height: 2.2em;
    cursor: pointer; }
  .elementCart .cntdadCart {
    font-weight: bold;
    color: red;
    font-size: 0.9em;
    margin-left: -0.35em;
    margin-top: 0.4em; }

.generalFooter {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 3em;
  justify-content: flex-end; }
  .generalFooter .footerLinkedin {
    width: 2em;
    height: 2em;
    margin-right: 1em; }
  .generalFooter .footerGit {
    width: 2em;
    height: 2em;
    margin-right: 2em; }
