@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.containerShowComic{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;
    color:white;
    font-family: 'Comic Neue', cursive;
    
    
    .dataShowComic{
        margin-top: 2em;
        

        .textShowComic{
            display: flex;
            flex-direction: row;
            margin: 2em;
            justify-content: center;
            align-items: center;

            

            .titleShowComic{
                margin-top: -4em;
                color:$black;
                font-size: 1.5em;
            }

            .containerCreator{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 1em;

                    .creatorJob{
                        margin-bottom: 2em;

                        .job{
                            margin: 0.5em;
                            text-align: right;
                        }
                    }
                    .creatorEmployee{
                        margin-bottom: 2em;
                        
                        .employee{
                            margin: 0.5em;
                            text-align: left;
                            

                        }
                    }
                    .btnBuy{
                        margin-top: 2em;
                    }
                
                
                
            }

        }

        .imgShowComic{
            margin-left: 2em;

            .thumbnailShowComic{
                width: 17em;
                height: 25em;

            }
        }
    }

}