.containerPrincipal{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;
    
    .headerPrincipal{
        width: 100%;
        height: 6em;
        background-color: blue;
    }

    .containerLastComic{
        width: 100%;
        height: 16em;
        background-color: brown;

    }

    .containerCharacter{
        width: 100%;
        height: 24em;
        background-color: yellow;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr)

    }
}