.containerPrincipal{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;

    // .headerPrincipal{
    //     position: fixed;
    // }
    
   

    .containerCarousel{
        width: 100%;
        height: 22em;
        margin-top: 2em;
        .titleCarousel{

            .btnDropdown{
                background-color: $red !important;
                border-color: white !important;
                margin-bottom: 2em;

            }
        }

    }

    .containerCharacter{
        width: 100%;
        height: 24em;
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        

        .getCharacter{
            display: flex;
            flex-direction: row;
            width: 8em;
            height: 8em;
            border-radius: 100%;
        }
        
        
        .logoSuper{
            border-radius: 50%;
            transition: 250ms;
            
        }
        .logoSuper:hover{
            cursor: pointer;
            transform:scale(1.3);
            transition: 250ms;
        }

    }
}