/*Colors*/
$black:rgb(0, 0, 0);


/*Sizes*/
$size-a: 0.5em; 
$size-b: 1em; 
$size-c: 1.5em; 
$size-d: 2em; 
$size-e: 2.5em; 
$size-f: 3em;    
$size-g: 3.5em;
$size-h: 5em;
$size-i: 7.5em;
$size-j: 10em;
$size-k: 15em;
$size-l: 20em;
$size-m: 25em;
$size-n: 30em;
$size-o: 35em;
$size-p: 40em;
$size-q: 45em;
$size-r: 50em;
$size-s: 55em;
$size-t: 60em;